.banner {
  background-image: linear-gradient(rgba(77, 0, 87, 0.5), rgba(0, 0, 0, 0.8)), url("https://res.cloudinary.com/dbqihej36/image/upload/v1634232162/pexels-donald-tong-109669_bnomme.jpg");
  background-size: cover;
  height: 20em;

  h1 {
    color: white;
    font-weight: bold;
    font-size: 56px;
    text-align: center;
    padding-top: 2em;
    text-shadow: 2px 2px 6px #ff0000;
  }

  p {
    color: white;
    font-family: $body-font;
    font-size: small;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 0.3em;
  }
}
